<!DOCTYPE html>
<html lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/fragments :: page_head('Users - Shopme Admin')"/>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar"></div>

    <div class="m-2">
        <h1>Manage users</h1>
        <a th:href="@{/users/new}"> <i class="fas fa-user-plus fa-2x icon-gray m-2"></i></a>
        <a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x icon-gray m-2"></a>
        <a th:href="@{/users/export/excel}" class="fas fa-file-excel fa-2x icon-gray m-2"></a>
        <a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-2x icon-gray m-2"></a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">[[${message}]]</div>

    <div>
        <form th:action="@{/users/page/1}" class="form-inline btn-group m-3">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">
            <input type="search" name="keyword" class="form-control" placeholder="Filter" th:value="${keyword}">
            &nbsp;&nbsp;
            <button type="submit" value="Search" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
            &nbsp;&nbsp;
            <button type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
                <i class="fas fa-eraser"></i>
            </button>
        </form>
    </div>

    <div class="table-responsive full-details">
        <table class="table table-bordered table-striped table-hover" id="listUsers">
            <thead class="table-dark">
            <tr>
                <th class="hideable-column">
                    <th th:replace="fragments/fragments :: column_link('id', 'ID', 'tag')" style="width:5%"></th>
                </th>

                <th style="width:10%">Photos</th>

                <th class="hideable-column">
                    <th th:replace="fragments/fragments :: column_link('email', 'E-mail', 'tag')" style="width:26%"></th>
                </th>

                <th th:replace="fragments/fragments :: column_link('firstName', 'First Name', 'none')"
                    style="width:12%"></th>

                <th th:replace="fragments/fragments :: column_link('lastName', 'Last Name', 'none')"
                    style="width:12%"></th>

                <th style="width:11%">Roles</th>

                <th th:replace="fragments/fragments :: column_link('enabled', 'Enabled', 'none')" style="width:9%"></th>

                <th style="width:15%"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td class="hideable-column">[[${user.id}]]</td>

                <td class="text-center">
                    <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-gray"></span>
                    <img th:if="${user.photos != null}"
                         th:src="@{${user.photosImagePath}}"
                         alt="photo"
                         class="thumbNail100">
                </td>

                <td class="hideable-column">[[${user.email}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.roles}]]</td>

                <td class="text-center">
                    <a class="btn btn-primary btn-transparent"
                       th:if="${user.enabled == true}"
                       th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                       title="Disable user">
                        <i class="fas fa-check-circle fa-2x icon-green"></i></a>
                    <a class="btn btn-primary btn-transparent"
                       th:if="${user.enabled == false}"
                       th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                       title="Enable user">
                        <i class="fas fa-circle fa-2x icon-gray"></i></a>
                </td>

                <td class="text-center">
                    <a class="btn btn-primary btn-transparent"
                       th:href="@{'/users/edit/' + ${user.id}}"
                       title="Edit user">
                        <i class="fas fa-edit fa-2x icon-green"></i>
                    </a>
                    &nbsp;
                    <a class="btn btn-primary btn-transparent link-delete"
                       th:href="@{'/users/delete/' + ${user.id}}"
                       th:userId="${user.id}"
                       title="Delete user">
                        <i class="fas fa-trash fa-2x icon-gray"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="user: ${listUsers}" class="row m-1">
            <div class="col-4">
                <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-gray"></span>
                <img th:if="${user.photos != null}"
                     th:src="@{${user.photosImagePath}}"
                     alt="photo"
                     class="thumbNail100">
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-1">
                    <a class="btn btn-primary btn-transparent"
                       th:if="${user.enabled == true}"
                       th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                       title="Disable user">
                        <i class="fas fa-check-circle fa-2x icon-green"></i></a>
                    <a class="btn btn-primary btn-transparent"
                       th:if="${user.enabled == false}"
                       th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                       title="Enable user">
                        <i class="fas fa-circle fa-2x icon-gray"></i></a>
                    <a class="btn btn-primary btn-transparent"
                       th:href="@{'/users/edit/' + ${user.id}}"
                       title="Edit user">
                        <i class="fas fa-edit fa-2x icon-green"></i>
                    </a>
                    <a class="btn btn-primary btn-transparent link-delete"
                       th:href="@{'/users/delete/' + ${user.id}}"
                       th:userId="${user.id}"
                       title="Delete user">
                        <i class="fas fa-trash fa-2x icon-gray"></i>
                    </a>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No users found</span>
    </div>

    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments/fragments :: page_link(1, 'First')"></a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments/fragments :: page_link(${currentPage - 1}, 'Previous')"></a>
                </li>

                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="fragments/fragments :: page_link(${i}, ${i})"></a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments/fragments :: page_link(${currentPage + 1}, 'Next')"></a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments/fragments :: page_link(${totalPages}, 'Last')"></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">Yes</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/fragments :: footer"></div>
</div>
<script type="text/javascript" th:src="@{/js/deleteUser.js}"></script>
</body>
</html>