<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/fragments :: page_head(${pageTitle})"/>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar"></div>
    <div><h1>Manage users | [[${pageTitle}]]</h1></div>

    <form th:action="@{/users/save}"
          method="post"
          enctype="multipart/form-data"
          style="max-width: 700px;
          margin: 0 auto;"
            th:object="${user}"
          onsubmit="return checkEmailUnique(this);">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row p-1">
                <label class="col-sm-4 col-form-label">E-mail:</label>
                <div class="col-sm-8">
                    <input type="email"
                           class="form-control"
                           th:field="*{email}"
                           required
                           minlength="8"
                           maxlength="128"/>
                </div>
            </div>

            <div class="form-group row p-1">
                <label class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           th:field="*{firstName}"
                           required
                           minlength="2"
                           maxlength="45"/>
                </div>
            </div>

            <div class="form-group row p-1">
                <label class="col-sm-4 col-form-label">Last Name:</label>
                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           th:field="*{lastName}"
                           required
                           minlength="2"
                           maxlength="45"/>
                </div>
            </div>

            <div class="form-group row p-1">
                <label class="col-sm-4 col-form-label">Password:</label>
                <div class="col-sm-8">
                    <input th:if="${user.id == null}"
                           type="password"
                           autocomplete="on"
                           class="form-control"
                           th:field="*{password}"
                           required
                           minlength="4"
                           maxlength="20"/>
                    <input th:if="${user.id != null}"
                           type="password"
                           autocomplete="on"
                           class="form-control"
                           th:field="*{password}"
                           minlength="4"
                           maxlength="20"/>
                </div>
            </div>

            <div class="form-group row p-1">
                <label class="col-sm-4 col-form-label">Roles:</label>
                <div class="col-sm-8">
                    <th:block th:each="role : ${listRoles}">
                        <input type="checkbox"
                               th:field="*{roles}"
                               class="m-2"
                               th:text="${role.name}"
                               th:value="${role.id}"
                        />
                        - <small>[[${role.description}]]</small>
                        <br>
                    </th:block>
                </div>
            </div>

            <div class="form-group row p-1">
                <label class="col-sm-4 col-form-label">Enabled:</label>
                <div class="col-sm-8">
                    <input type="checkbox"
                           th:field="*{enabled}"
                           class="m-2"/>
                </div>
            </div>

            <div class="form-group row p-1">
                <label class="col-sm-4 col-form-label">Photos:</label>
                <div class="col-sm-8">
                    <input type="hidden" th:field="*{photos}">
                    <input type="file"
                           id="fileImage"
                           name="image"
                           class="mb-2"
                           accept="image/png, image/jpeg"/>
                    <img id="thumbnail"
                         class="img-fluid"
                         th:src="@{${user.photosImagePath}}"
                         alt="Photo preview">
                </div>
            </div>

            <div class="text-center">
                <input type="submit"
                       value="Save"
                       class="btn btn-primary m-3">
                <input type="button"
                       value="Cancel"
                       class="btn btn-secondary"
                       id="buttonCancel">
            </div>
        </div>
    </form>

    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/fragments :: footer"></div>
</div>
<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
<script type="text/javascript" th:src="@{/js/userForm.js}"></script>
</body>
</html>