<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/fragments :: page_head('Home - Shopme Admin')"/>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar"></div>

    <div>
        <h2>Shopme Admin control panel</h2>
        Welcome
        <a th:href="@{/account}"
           sec:authentication="principal.fullName"></a>
        <span sec:authentication="principal.authorities"></span>
    </div>

    <div th:replace="fragments/fragments :: footer"></div>
</div>
</body>
</html>