.icon-green {
    color: green;
}

.icon-gray {
    color: gray;
}

.btn-transparent {
    border: none;
    background: none;
}

.btn-transparent:hover {
    background: none;
}

.thumbNail100 {
    width: 100px;
}

#listUsers tr th a {
    color: white;
}

#listUsers tr th {
    text-align: center;
}

@media screen and (max-width: 768px){
    div.full-details {
        display: none;
    }
    div.less-details {
        display: block;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    div.full-details {
        display: block;
    }
    div.less-details {
        display: none;
    }
    .hideable-column{
        display: none;
    }
}
@media screen and (min-width: 1024px){
    div.less-details {
        display: none;
    }
    .hideable-column{
        display: table-cell;
    }
}

/*body {*/
/*    background-color: khaki;*/
/*}*/
