<div>
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit">
    </form>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark" xmlns:sec="http://www.w3.org/1999/xhtml">
        <a class="navbar-brabd" th:href="@{/}">
            <img th:src="@{/images/logo3.png}" alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="hasAuthority('Admin')">
                    <a class="nav-link" th:href="@{/users}">Users</a>
                </li>

                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">Brands</a>
                    </li>
                </th:block>

                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>

                <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                    </li>
                </th:block>

                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
                    <a class="nav-link" th:href="@{/orders}">Orders</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                    <a class="nav-link" th:href="@{/report}">Sales report</a>
                </li>

                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">Menus</a>
                    </li>
                </th:block>

                <li class="nav-item" sec:authorize="hasAuthority('Admin')">
                    <a class="nav-link" th:href="@{/settings}">Settings</a>
                </li>
                <li>
                    <i class="fas fa-portrait fa-2x icon-gray"></i>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                       th:href="@{/account}"
                       sec:authentication="principal.fullName"></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
